html, body, p {
    margin: 0;
    padding: 0;

}

#text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 8em;
}

.meta {
    padding: 10px;
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

#title {
    float: left;
}

#inspire {
    float: right;
}

#inspire:hover {
    text-decoration: underline;
}

#advert {
    position: fixed;
    left: 0;
    bottom: 0;
}

#advert:hover {
    text-decoration: underline;
}

#stats {
    position: fixed;
    right: 0;
    bottom: 0; 
}
